{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>{% trans "Change Password" %}</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-grid gap-2 mt-3">
                            <button type="submit" class="btn btn-primary">{% trans "Change Password" %}</button>
                            <a href="{% url 'users:profile' %}" class="btn btn-outline-secondary">{% trans "Cancel" %}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}